<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- https://sqlite.org/datatype3.html -->
<configuration>
	<conexion>
		<driver>com.mysql.jdbc.Driver</driver>
		<host>jdbc:mysql://127.0.0.1:3306/clase?useSSL=false</host>
		<user>root</user>
		<pass>A.joker.1</pass>
	</conexion>

	<queries>
		<query>CREATE TABLE IF NOT EXISTS `person` (`id` INT NOT NULL AUTO_INCREMENT,`name` VARCHAR(50) NOT NULL DEFAULT '',`lastname` VARCHAR(50) NOT NULL DEFAULT '',	PRIMARY KEY (`id`))COLLATE='latin1_spanish_ci';</query>
		<query>CREATE TABLE IF NOT EXISTS `producto` (`id` INT NOT NULL AUTO_INCREMENT,`desc` VARCHAR(250) NOT NULL DEFAULT '',`precio` SMALLINT UNSIGNED NOT NULL DEFAULT 0,`stock` SMALLINT UNSIGNED NOT NULL DEFAULT 1,`name` VARCHAR(50) NOT NULL DEFAULT '',PRIMARY KEY (`id`))COLLATE='latin1_spanish_ci';</query>
		<query>CREATE TABLE IF NOT EXISTS `usuario` (`id` INT NOT NULL AUTO_INCREMENT,`login` VARCHAR(50) NOT NULL DEFAULT '0',`pass` VARCHAR(50) NOT NULL DEFAULT '0',`edad` TINYINT UNSIGNED NOT NULL DEFAULT 14,PRIMARY KEY (`id`))COLLATE='latin1_spanish_ci'</query>
	</queries>
</configuration>